h1 {
    text-align: center;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

.content {
    display: flex;
    border: 3px grey groove;
    left: 25%;
    width: 100%;
    height: 80%;
    top: 22%;
    margin: auto;
    flex-direction: column;
}

#page {
    display: flex;
    background-color: #ccc;
    height: 85%;
    flex-direction: column;
    overflow: auto;
}

 /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */

#map {
    display: flex;
    background-color: #ccc;
    height: 90%;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}


#form {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#input {
    width: 75%
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 90%;
    width: 70%;
    margin: auto;
    padding: 1;
}