<!DOCTYPE html>

<head>
    <title>GrandPy Bot</title>
    <link rel="icon" href="../static/images/bot.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div id="header" class="jumbotron text-center" style="margin-bottom:0">
        <h1>Bienvenue! Je suis GrandPy Bot!</h1>
        <p>Vous pouvez me demander l'adresse d'un lieu!</p>
    </div>

    <!--Form asking the user to fill his research-->
    <form id="form" class="mx-2 my-auto d-inline w-100 ">
        <div class="input-group">
            <input id="input" type="text" class="form-control"
                placeholder="Exemple : 'Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ? '">
            <span class="input-group-append">
                <input type="submit" value="Envoyer"></button>
            </span>
        </div>
    </form>
    <div class="container" style="margin-top:30px">
        <div class="row" style="margin-top:30px">
            <div id="text" class="col-sm-12">
            </div>
        </div>
        <div class="row" style="margin-top:30px">
            <div id="map" class="col-sm-6"></div>
            <div id="page" class="col-sm-6">
                <blockquote class="blockquote">
                    <p id="blockquote"></p>
                  </blockquote>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-top:30px">
        <p>Andour Otman</p>
        <p>Projet 7 OpenClassrooms</p>
        <p>Visitez mon <a href="https://github.com/OtmanAndour" target="_blank">Github</a> !</p>
    </div>

    <script type="text/javascript" src="../static/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzwPpl0K88EF2aziV-1flLjO-dePphxds" async
        defer></script>
    <!--Function that sends user to another page after entering his research-->
</body>